#titulo1 {
    margin-top: 3%;
    margin-left: 15%;
    font-size: 39px;
    color: #575757;
}

.form {
        margin-left: 15%;
}

#nomeform {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    margin-left: 10px;
    font-style: normal;
    font-size: 18px;
    color: #9B9B9B
}

#emailform {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
    color: #9B9B9B
}


#caixaform {
    display: left;
    width: 537px;
    height: 26px;
    font-size: 18px;
}

#enviarform {
    background-color: #C2185B;
    color: white;
    font-size: 20px;    
    font-family: 'Ropa Sans', sans-serif;
    width: 537px;
    height: 33px;
    padding-bottom: 15px;
}


#nometelefone {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
    color: #9B9B9B;
}

#telefone {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 18px;
    width: 537px;
}

#nomedepartamentos {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
    color: #9B9B9B;
}

#departamentos {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 18px;
    width: 537px;
}