
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
}

header .logo{
    width: 215px;
    height: 110px;
    padding: 9px;
}
#menu {
    float: right;
    padding-top: 20px;
    font-size: 24px;
}

#menu ul { 
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

#menu ul li { 
    display: inline
}

#menu ul li a { 
    color: #777777;
    padding: 12px;
    display: inline-block;
}

#menu li a:hover{ 
    color: #C2185B;
}

header .logo {
    cursor: pointer;
}

.banner-principal {
    width: 100%;
}


footer { 
    width: 100%;
    height: 248px;
    background: #C2185B;
    color: white;
    padding: 9px 9px 9px 19px;
    
}

img .logo-footer {
    width: 233PX;
    height: 123px;
    cursor: pointer;
}
